{% extends 'layout.html' %}
{% block content %}
<h2>Add Bird</h2>

<div class="cen">
    <!-- Flash messages inside the centered container -->
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    <div class = "flashes">
        {% for category, message in messages %}
        <div class = "alert alert-{{ category }}">{{ message }}</div>
        {%endfor%}
    </div>
    {%endif%}
    {%endwith%}
        
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>Name: {{ form.name }} <span style="color:red">{{ form.name.errors[0] }}</span></p>
        <p>Maximum Lifespan: {{ form.maximum_lifespan }} <span style="color:red">{{ form.maximum_lifespan.errors[0]
                }}</span></p>
        <p>Description: {{ form.description }} <span style="color:red">{{ form.description.errors[0] }}</span></p>
        <p>Conservation Status: {{ form.status }} <span style="color:red">{{ form.status.errors[0] }}</span></p>
        <p>Habitat: {{ form.habitats }} <span style="color:red">{{ form.habitats.errors[0] }}</span></p>
        <input type="submit" value="Add this Bird">
    </form>
</div>
{% endblock %}
