{%extends "layout.html"%}
{% block content %}
<main class="all_birdpage">
    <div class="big_image"></div>
    <div class="bird-grid">
        {% for bird in allbirds %}
        <div class="bird-box">
            <!-- wraps the image in an anchor tag so that it can be clickable -->
            <a href="/birds/{{bird.id}}">
                <img src="{{bird.photo}}" alt="{{bird.name}} Image">
            </a>
            <a href="/birds/{{bird.id}}">{{bird.name}}</a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
